#home-page {
    align-items: center;
    padding: 10px;

    @keyframes appearance {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    h2 {
        text-align: center;
        animation: appearance 1s ease-out forwards;
    }
}